@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,700&display=swap');

:root {
    --neutral-800: rgba(3, 11, 26, 1);
    --neutral-700: rgba(79, 90, 110, 1);
    --neutral-600: rgba(92, 103, 121, 1);
    --neutral-500: rgba(160, 171, 189, 1);
    --neutral-400: rgba(217, 223, 233, 1);
    --neutral-300: rgba(239, 242, 246, 1);
    --neutral-200: rgba(247, 247, 247, 1);
    --neutral-100: rgba(255, 255, 255, 1);
    --primarycolor-1: rgba(74, 58, 255, 1);
    --primarycolor-2: rgba(112, 45, 255, 1);
    --secondarycolor-1: rgba(217, 219, 233, 1);
    --secondarycolor-2: rgba(236, 235, 255, 1);
    --secondarycolor-3: rgba(83, 29, 197, 1);
    --secondarycolor-4: rgba(239, 232, 255, 1);
    --secondarycolor-5: rgba(243, 241, 255, 1);
    --otherlogo-1: rgba(76, 191, 255, 1);
    --otherlogo-2: rgba(147, 40, 255, 1);
    --primary-colorscolor-1: rgba(112, 81, 239, 1);
    --neutral-colors100: rgba(255, 255, 255, 1);
    --headings-typography-size-1-font-family: "DM Sans", Helvetica;
    --headings-typography-size-1-font-weight: 700;
    --headings-typography-size-1-font-size: 50px;
    --headings-typography-size-1-letter-spacing: 0px;
    --headings-typography-size-1-line-height: 62px;
    --headings-typography-size-1-font-style: normal;
    --headings-typography-size-2-font-family: "DM Sans", Helvetica;
    --headings-typography-size-2-font-weight: 700;
    --headings-typography-size-2-font-size: 34px;
    --headings-typography-size-2-letter-spacing: 0px;
    --headings-typography-size-2-line-height: 46px;
    --headings-typography-size-2-font-style: normal;
    --headings-typography-size-3-font-family: "DM Sans", Helvetica;
    --headings-typography-size-3-font-weight: 700;
    --headings-typography-size-3-font-size: 28px;
    --headings-typography-size-3-letter-spacing: 0px;
    --headings-typography-size-3-line-height: 37px;
    --headings-typography-size-3-font-style: normal;
    --headings-typography-size-4-font-family: "DM Sans", Helvetica;
    --headings-typography-size-4-font-weight: 700;
    --headings-typography-size-4-font-size: 22px;
    --headings-typography-size-4-letter-spacing: 0px;
    --headings-typography-size-4-line-height: 28px;
    --headings-typography-size-4-font-style: normal;
    --headings-typography-size-5-font-family: "DM Sans", Helvetica;
    --headings-typography-size-5-font-weight: 700;
    --headings-typography-size-5-font-size: 18px;
    --headings-typography-size-5-letter-spacing: 0px;
    --headings-typography-size-5-line-height: 24px;
    --headings-typography-size-5-font-style: normal;
    --headings-typography-size-6-font-family: "DM Sans", Helvetica;
    --headings-typography-size-6-font-weight: 700;
    --headings-typography-size-6-font-size: 16px;
    --headings-typography-size-6-letter-spacing: 0px;
    --headings-typography-size-6-line-height: 22px;
    --headings-typography-size-6-font-style: normal;
    --headings-mobile-size-1-font-family: "DM Sans", Helvetica;
    --headings-mobile-size-1-font-weight: 700;
    --headings-mobile-size-1-font-size: 36px;
    --headings-mobile-size-1-letter-spacing: 0px;
    --headings-mobile-size-1-line-height: 44px;
    --headings-mobile-size-1-font-style: normal;
    --headings-mobile-size-2-font-family: "DM Sans", Helvetica;
    --headings-mobile-size-2-font-weight: 700;
    --headings-mobile-size-2-font-size: 30px;
    --headings-mobile-size-2-letter-spacing: 0px;
    --headings-mobile-size-2-line-height: 40px;
    --headings-mobile-size-2-font-style: normal;
    --paragraph-large-font-family: "DM Sans", Helvetica;
    --paragraph-large-font-weight: 400;
    --paragraph-large-font-size: 24px;
    --paragraph-large-letter-spacing: 0px;
    --paragraph-large-line-height: 38px;
    --paragraph-large-font-style: normal;
    --paragraph-default-font-family: "DM Sans", Helvetica;
    --paragraph-default-font-weight: 400;
    --paragraph-default-font-size: 18px;
    --paragraph-default-letter-spacing: 0px;
    --paragraph-default-line-height: 30px;
    --paragraph-default-font-style: normal;
    --paragraph-small-font-family: "DM Sans", Helvetica;
    --paragraph-small-font-weight: 400;
    --paragraph-small-font-size: 16px;
    --paragraph-small-letter-spacing: 0px;
    --paragraph-small-line-height: 26px;
    --paragraph-small-font-style: normal;
    --paragraphs-large-mobile-font-family: "DM Sans", Helvetica;
    --paragraphs-large-mobile-font-weight: 400;
    --paragraphs-large-mobile-font-size: 20px;
    --paragraphs-large-mobile-letter-spacing: 0px;
    --paragraphs-large-mobile-line-height: 32px;
    --paragraphs-large-mobile-font-style: normal;
    --text-single-400-regular-font-family: "DM Sans", Helvetica;
    --text-single-400-regular-font-weight: 400;
    --text-single-400-regular-font-size: 24px;
    --text-single-400-regular-letter-spacing: 0px;
    --text-single-400-regular-line-height: 26px;
    --text-single-400-regular-font-style: normal;
    --text-single-400-medium-font-family: "DM Sans", Helvetica;
    --text-single-400-medium-font-weight: 500;
    --text-single-400-medium-font-size: 24px;
    --text-single-400-medium-letter-spacing: 0px;
    --text-single-400-medium-line-height: 26px;
    --text-single-400-medium-font-style: normal;
    --text-single-400-bold-font-family: "DM Sans", Helvetica;
    --text-single-400-bold-font-weight: 700;
    --text-single-400-bold-font-size: 24px;
    --text-single-400-bold-letter-spacing: 0px;
    --text-single-400-bold-line-height: 26px;
    --text-single-400-bold-font-style: normal;
    --text-single-300-regular-font-family: "DM Sans", Helvetica;
    --text-single-300-regular-font-weight: 400;
    --text-single-300-regular-font-size: 20px;
    --text-single-300-regular-letter-spacing: 0px;
    --text-single-300-regular-line-height: 22px;
    --text-single-300-regular-font-style: normal;
    --text-single-300-medium-font-family: "DM Sans", Helvetica;
    --text-single-300-medium-font-weight: 500;
    --text-single-300-medium-font-size: 20px;
    --text-single-300-medium-letter-spacing: 0px;
    --text-single-300-medium-line-height: 22px;
    --text-single-300-medium-font-style: normal;
    --text-single-300-bold-font-family: "DM Sans", Helvetica;
    --text-single-300-bold-font-weight: 700;
    --text-single-300-bold-font-size: 20px;
    --text-single-300-bold-letter-spacing: 0px;
    --text-single-300-bold-line-height: 22px;
    --text-single-300-bold-font-style: normal;
    --text-single-200-regular-font-family: "DM Sans", Helvetica;
    --text-single-200-regular-font-weight: 400;
    --text-single-200-regular-font-size: 18px;
    --text-single-200-regular-letter-spacing: 0px;
    --text-single-200-regular-line-height: 20px;
    --text-single-200-regular-font-style: normal;
    --text-single-200-medium-font-family: "DM Sans", Helvetica;
    --text-single-200-medium-font-weight: 500;
    --text-single-200-medium-font-size: 18px;
    --text-single-200-medium-letter-spacing: 0px;
    --text-single-200-medium-line-height: 20px;
    --text-single-200-medium-font-style: normal;
    --text-single-200-bold-font-family: "DM Sans", Helvetica;
    --text-single-200-bold-font-weight: 700;
    --text-single-200-bold-font-size: 16px;
    --text-single-200-bold-letter-spacing: 0px;
    --text-single-200-bold-line-height: 18px;
    --text-single-200-bold-font-style: normal;
    --text-single-100-regular-font-family: "DM Sans", Helvetica;
    --text-single-100-regular-font-weight: 400;
    --text-single-100-regular-font-size: 16px;
    --text-single-100-regular-letter-spacing: 0px;
    --text-single-100-regular-line-height: 18px;
    --text-single-100-regular-font-style: normal;
    --text-single-100-medium-font-family: "DM Sans", Helvetica;
    --text-single-100-medium-font-weight: 500;
    --text-single-100-medium-font-size: 16px;
    --text-single-100-medium-letter-spacing: 0px;
    --text-single-100-medium-line-height: 18px;
    --text-single-100-medium-font-style: normal;
    --text-single-100-bold-font-family: "DM Sans", Helvetica;
    --text-single-100-bold-font-weight: 500;
    --text-single-100-bold-font-size: 14px;
    --text-single-100-bold-letter-spacing: 0px;
    --text-single-100-bold-line-height: 16px;
    --text-single-100-bold-font-style: normal;
    --other-subtitle-font-family: "DM Sans", Helvetica;
    --other-subtitle-font-weight: 700;
    --other-subtitle-font-size: 18px;
    --other-subtitle-letter-spacing: 1.8px;
    --other-subtitle-line-height: 20px;
    --other-subtitle-font-style: normal;
    --buttons-color-default: 0px 2px 8px 0px rgba(48, 48, 50, 0.06);
    --buttons-color-hover: 0px 12px 24px 0px rgba(74, 58, 255, 0.23);
    --buttons-white-default: 0px 4px 8px 0px rgba(74, 58, 255, 0.08);
    --buttons-white-hover: 0px 11px 26px 0px rgba(74, 58, 255, 0.14);
    --cards-short-default: 0px 5px 12px 0px rgba(8, 15, 52, 0.05);
    --cards-short-hover: 0px 18px 24px 0px rgba(8, 15, 52, 0.08);
    --cards-long-default: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
    --cards-long-hover: 0px 6px 16px 0px rgba(45, 126, 255, 0.18);
    --images-short: 0px 10px 34px 0px rgba(20, 20, 43, 0.14);
    --images-medium: 0px 18px 54px 0px rgba(20, 20, 43, 0.16);
    --images-long: 0px 21px 85px 0px rgba(20, 20, 43, 0.19);
    --icons-white-shadow: 0px 4px 20px 0px rgba(23, 15, 73, 0.08);
    --icons-blue: 0px 13.789999961853027px 26.75px 0px rgba(63, 128, 253, 0.74);
    --icons-yellow: 0px 11.3100004196167px 25.229999542236328px 1px rgba(255, 194, 38, 0.83);
    --icons-orange: 0px 13px 24px 2px rgba(255, 129, 57, 0.8);
    --icons-teal: 0px 9px 24px 1px rgba(63, 207, 253, 0.74);
    --icons-purple: 0px 6px 19px 0px rgba(106, 53, 255, 0.6);
    --illustration-bottom: 0px 37px 114px 0px rgba(32, 36, 138, 0.15);
    --illustration-top: 0px 44px 54px 4px rgba(19, 18, 78, 0.12);
    --card-shadow: 0px 10px 28px 0px rgba(39, 25, 77, 0.03), 0px 3px 20px 0px rgba(112, 81, 239, 0.04),
      0px -2px 5px 0px rgba(39, 25, 77, 0.02);
  }
  